/* CONTAINER STYLES */
.container {
	max-width: 96rem;
	margin: 0 auto;
	padding: 1.5rem;
	min-height: 100vh;
}

/* NOTELIST STYLE */
.note-list {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	/* what repeat(auto-fit, minmax(25rem, 1fr) dp is that the min-width of the grid item is 25rem but is however allowed to grow to occupy 1fr. stting the no of colums with auto-fit means there'd be no need for media query to specify the no of columns that should be obsevered at certain screen width. what auto-fit does is, specify the number of colums based on the current width of the screen after sizing the grid item to their min(25rem) */
}

/* NOTE STYLES */
.note {
	background-color: #fef68a;
	border-radius: 1rem;
	padding: 1rem;
	min-height: 17rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	word-break: break-all;
	white-space: pre-wrap;
}

.note-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.right {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.delete-icon {
	cursor: pointer;
}

.edit-icon {
	color: rgb(86, 134, 15);
	cursor: pointer;
}

/* ADDNOTE STYLE */
.note.new-note {
	background-color: #67d7cc;
}

textarea {
	border: none;
	resize: none;
	background-color: #67d7cc;
}

textarea:focus {
	outline: none;
	/* simply putting the above style property on the original textarea selector above would have worked just fine too */
}

.save {
	border: none;
	background-color: #e1e1e1;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	cursor: pointer;
	font-size: 1.2rem;
	text-transform: uppercase;
}

.save:hover {
	background-color: #ededed;
}

/* SEARCH STYLE */
.search {
	border-radius: 0.6rem;
	margin-bottom: 1rem;
	display: flex;
	padding: 0.6rem;
	background-color: rgb(233, 233, 233);
	gap: 0.5rem;
}

.search input {
	border: none;
	background-color: rgb(233 233 233);
	outline: none;
	width: 100%;
}

/* HEADER STYLE */
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* DARK MODE STYLE */
.dark-mode {
	background-color: #333;
}
.dark-mode h1 {
	color: white;
}
